.p-routes-list {
	margin: 50px auto;
	.list-item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-bottom: 10px;
		margin-bottom: 10px;
		border-bottom: 1px solid #f5f5f5;
		&:last-of-type { border-bottom: none; }
	}
	.route-name { max-width: calc(100% - 50px); }
	.remove-route-btn {
		color: #333;
		transition: all 0.1s;
		&:hover { color: #fff; background-color: $red; }
	}
}

.p-map {
	&, .map-container { width: 100%; height: 100%; }
	.info-value { margin-left: 5px; font-weight: bold; }
	.back-btn {
		@include fixed(no 50% 20px no);
		transform: translateX(-50%);
		color: #333;
		background-color: #fff;
		box-shadow: 0px 1px 4px -1px rgba(#000, 0.3);
		z-index: 2;
	}
}