html, body { height: 100%; }
body {
	min-width: 320px;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}
a {
	color: $blue;
	&:hover, &:focus, &:active { color: darken($blue, 20%); }
}
a, a:hover, a:focus, a:active { text-decoration: none; }
h1, .h1 { font-size: 24px; margin-bottom: 30px; }
img { max-width: 100%; }
input, textarea { font-family: 'Roboto', sans-serif; }
input[type="radio"] { -webkit-appearance: radio; }
.btn:active, .btn.active, .btn:focus, .btn.focus,
.btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {
	outline: none;
	box-shadow: none;
}