.btn {
	color: #fff;
	border-radius: 3px;
	padding: 5px 15px;
	cursor: pointer;
	transition: all 0.1s;
	&:hover { color: #fff; }
	.btn-icon { font-size: 16px; margin-right: 10px; }
	&.btn-round {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: 45px;
		height: 45px;
		padding: 0;
		text-align: center;
		border-radius: 50%;
		background-color: #eee;
		.btn-icon { margin: 0 auto; font-size: 20px; }
		&.btn-lg {
			width: 55px;
			height: 55px;
			.btn-icon { font-size: 24px; }
		}
		&.btn-sm {
			width: 30px;
			height: 30px;
			.btn-icon { font-size: 14px; }
		}
	}
}