.one-border-form-control {
	padding-left: 0;
	padding-right: 0;
	border-radius: 0;
	border: none;
	border-bottom: 1px solid #ccc;
}
.form-control {
	font-size: 16px;
	&:focus {
		border-color: $base-color;
		+ .input-group-addon { border-bottom-color: $base-color; }
	}
	&.error { border-color: $red; }
}
label.error {
	margin: 0;
	color: $red;
	font-size: 14px;
}